# Server
PORT=3000
NODE_ENV=production

# Meta / WhatsApp
VERIFY_TOKEN=anushkagroovia
APP_SECRET=a6aea468cc41c46709767d38c4bb60ed
WHATSAPP_TOKEN=EAAVVUlDQwhIBSFjy2Mrh0ZCshk4aosxRbEvQrblur4GRPJT15MmJ9P5kma4aIW961vvJD7H4wrXn6gfsq75XKle1gqFJr7m5utDOTOnuk0mqWMTzTGc4VVpBzxW4kbNrBmmcfyTRXc5jBM4HN1AHBwutUpBc2KGR2YTefn2DGZAX5s710evrUbcAvwo6OzOwZDZD
PHONE_NUMBER_ID=1135902319616581
GRAPH_API_VERSION=v25.0